@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000000; */
}

:root{
    --Bgcolor:#FFFFFF;
    --navcolor:#FFFFFF;
    /* --Bgcolor:#000000; */
    --inputcolor:#F3F5F7;
    --searchcolor:#919EAB;
    --textcolor:#637381;
    --iconscolor:#919EAB;
      --main-bg: #ffffff;       
  --hover-bg: #f2f2f2;         
  --primary-color: #ff9900;     
  --text-color: #333333;        
  --subtext-color: #777777;
  --sarlavhacolor:#212B36;
  --cardtext:#637381;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.dark-theme {
  --Bgcolor: #15141B;
    --navcolor:#100F14;
--inputcolor:#1F1E24;
--main-bg:  #191922; 
--hover-bg: #201E2C;
--text-color: #C4CDD5;
--sarlavhacolor:#FFFFFF;
 --cardtext:#919EAB;
}